@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";

	var nombreCategoria = UrlData[0];

	if(nombreCategoria.IsEmpty())
	{
		Response.Redirect("~/Default");
	}

	Page.Title = nombreCategoria;

	var db = Database.Open("ChistesMalos");
	var sqlSelect = "SELECT chisteID,chiste,autor,categorias.nombre FROM chistes " +
					"LEFT OUTER JOIN Categorias ON chistes.categoria = Categorias.categoriaID " +
					"WHERE Categorias.nombre = @0";

	var encuestas = db.Query(sqlSelect, nombreCategoria);
    @*
    var db = Database.Open("TeleEncuestas");
	var sqlCommand = @"SELECT Encuestas.EncuestasId, Encuestas.Titulo, Categorias.Nombre, Encuestas.autor
					   FROM Encuestas INNER JOIN Categorias
					   ON Encuestas.Categoria = Categorias.CategoriaId
					   ORDER BY Titulo";
	
	var encuestas = db.Query(sqlCommand, nombreCategoria);
    *@
    var productosGrid = new WebGrid(source: encuestas,
                                    rowsPerPage: 10);	
}

<div id="contentTitle">
	<h1>@nombreCategoria</h1>
</div>

@if(encuestas.Count() == 0)
{
	<p>
		No se han encontrado chistes en esta categoria.
		Prueba a buscar una de las categorias de la lista de la izquierda.
	</p>
}
else
{
    <div class="grid">
    @productosGrid.GetHtml(
        tableStyle: "grid",
        headerStyle: "gridHeader",
        alternatingRowStyle: "gridAlt",
        footerStyle: "gridFooter",
        columns: productosGrid.Columns(
                productosGrid.Column(
                    columnName: "chisteId",
                    header: "ID"
                    ),
                productosGrid.Column("chiste", "chiste"),
                productosGrid.Column("autor","Autor"),
                productosGrid.Column(null, null,
                    format: @<text>
                                <a href="~/chisteDetalles/@item.chisteId">Detalles</a>
                            </text>)                
        ) 
        
    )
</div>
	@*<ul id="productosList">
		@foreach(var item in encuestas) {
  			<li>
				  <h3 style="height: 55px">
					  <a href="~/EncuestaDetalles/@item.EncuestasId">@item.Titulo</a>
				  </h3>	
				  <div style="height: 130px">
					 
				  </div>			 
				  <p class="autor">@item.autor</p>
				  <p>
					  <a href="~/EncuestaDetalles/@item.EncuestasId" class="detailsButton">Más Detalles</a>
				  </p>
			</li>
		}
	</ul>*@
}
