@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Página Principal";

    var db = Database.Open("TeleEncuestas");
    var sqlSelect = @"SELECT * FROM Encuestas INNER JOIN Settings ON Encuestas.EncuestasId = Settings.EncuestaDestacado";

    var Encuestas = db.QuerySingle(sqlSelect);    
}

@if(Encuestas != null)
{
    <h1 class="">Encuesta destacada</h1>
    <div id="productoDestacadoImagen">
        
    </div>
    <div id="productoDestacadoDetalles">
        <a href="~/EncuestaDetalles/@Encuestas.EncuestasID"><h2>@Encuestas.titulo</h2></a>
        <p>@Encuestas.descripcion</p>
        <p class="precio">@Encuestas.autor</p>
        <p><a href="~/EncuestaDetalles/@Encuestas.EncuestasID" class="detailsButton">Mas detalles</a></p>
    </div> 
}

@{
    sqlSelect = @"SELECT TOP 4 EncuestasID FROM Encuestas 
                  ORDER BY EncuestasId DESC";

    var lastEncuestas = db.Query(sqlSelect);
}

@if(lastEncuestas.Count() > 0)
{
    <div id="popularProductos">
        <h1>Ultimas Encuestas</h1>
        <ul id="popularProductosList">
            @foreach(var item in lastEncuestas)
            {
                <li>
                    <a href="~/EncuestaDetalles/@item.EncuestasId" class="detailsButton">
                       
                    </a>
                </li>   
            }
        </ul>
    </div>
}
