@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Página Principal";

    var db = Database.Open("ChistesMalos");
    var sqlSelect = @"SELECT * FROM chistes INNER JOIN Settings ON chistes.chisteId = Settings.chistesDestacado";

    var chiste = db.QuerySingle(sqlSelect);    
}

@if(chiste != null)
{
    <h1 class="">Chiste del mes</h1>
    <div id="productoDestacadoImagen">
        
    </div>
    <div id="productoDestacadoDetalles">
        <a href="~/ChisteDetalles/@chiste.chisteID"><h2>@chiste.titulo</h2></a>
        <p>@chiste.chiste</p>
        <p class="precio">@chiste.autor</p>
        <p><a href="~/ChisteDetalles/@chiste.chisteID" class="detailsButton">Mas detalles</a></p>
    </div> 
}

@{
    sqlSelect = @"SELECT TOP 4 chisteID,titulo FROM chistes 
                  ORDER BY chisteId DESC";

    var lastchistes = db.Query(sqlSelect);
}

@if(lastchistes.Count() > 0)
{
    <div id="popularProductos">
        <h1>Ultimos Chistes</h1>
        <ul id="popularProductosList">
            @foreach(var item in lastchistes)
            {
                <li>
                    <a href="~/ChisteDetalles/@item.chisteId" class="detailsButton">@item.titulo</a>
                </li>   
            }
        </ul>
    </div>
@*var db = Database.Open("MitjaMARKT");
		var pedidoSql = @"INSERT INTO Pedidos (UserId, PedidoEnviado, Total,
						Fecha, Direccion1, Direccion2, Poblacion, Provincia,
						CodigoPostal, Pais)
						VALUES ( @0, @1, @2, @3, @4, @5, @6, @7, @8, @9)";

		db.Execute(pedidoSql, userID, false, cart.TotalValue, DateTime.Now,
				direccion1, direccion2, poblacion, provincia, codigoPostal, pais);

		var pedidoId = db.GetLastInsertId();
*@
}
