@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Búsqueda en el Catálogo";

	var db = Database.Open("TeleEncuestas");

	var searchWords = Request["searchTerm"].Split(' ');

	IEnumerable<dynamic> result = Enumerable.Empty<string>();

	var sqlSelect = "SELECT EncuestasId, titulo FROM Encuestas WHERE " +
					"titulo LIKE @0 OR descripcion LIKE @0 OR autor LIKE @0";

	foreach(var word in searchWords)
	{
		result = result.Concat(db.Query(sqlSelect, "%" + word + "%").ToList());
	}
    
}

<h1>Resultados de la busqueda</h1>

<p>@result.Count() palabras encontrados que coinciden con: <em>@Request["searchTerm"]</em></p>

<ul id="searchResult">
	@foreach(var item in result)
	{
		<li>
			<a href="~/EncuestaDetalles/@item.EncuestasId">@item.Titulo</a>
		</li>
	}
</ul>