@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Búsqueda en el Catálogo";

	var db = Database.Open("ChistesMalos");

	var searchWords = Request["searchTerm"].Split(' ');

	IEnumerable<dynamic> result = Enumerable.Empty<string>();

	var sqlSelect = "SELECT chisteId, chiste, titulo FROM chistes WHERE " +
					"chiste LIKE @0 OR autor LIKE @0";

	foreach(var word in searchWords)
	{
		result = result.Concat(db.Query(sqlSelect, "%" + word + "%").ToList());
	}
    
}

<h1>Resultados de la busqueda</h1>

<p>@result.Count() palabras encontrados que coinciden con: <em>@Request["searchTerm"]</em></p>

<ul id="searchResult">
	@foreach(var item in result)
	{
		<li>
            <a href="~/ChisteDetalles/@item.chisteId">@item.Titulo</a>
			<p>@item.chiste</p>
		</li>
	}
</ul>