@{
    Layout = "~/Shared/Layouts/_AdminLayout.cshtml";
	Page.Title = "Comentarios"; 
	
    var db = Database.Open("ChistesMalos");
    
	var sqlCommand = @"SELECT chistes.chisteID, chistes.Titulo, comentarios.comentari, comentarios.comentariID
					   FROM chistes INNER JOIN comentarios
					   ON chistes.chisteID = comentarios.ChisteID
					   ORDER BY chistes.chisteID";
	
	var result = db.Query(sqlCommand);

    var ComentariosGrid = new WebGrid(source: result,
                                    rowsPerPage: 10);				      
}

<h1>Listado Comentarios</h1>
<div class="grid">
    @ComentariosGrid.GetHtml(
        tableStyle: "grid",
        headerStyle: "gridHeader",
        alternatingRowStyle: "gridAlt",
        footerStyle: "gridFooter",
        columns: ComentariosGrid.Columns(
                ComentariosGrid.Column(
                    columnName: "chisteId",
                    header: "ID_Chiste"
                    ),
                ComentariosGrid.Column("comentariID", "Id_Coment"),
                ComentariosGrid.Column("comentari", "comentari"),
                ComentariosGrid.Column(null, null,
                    format: @<text>
                                <a href="DeleteComentario/@item.comentariId">Eliminar</a>
                            </text>)                
        ) 
        
    )
</div>