@{
	Layout = "~/Shared/Layouts/_AdminLayout.cshtml";
	Page.Title = "Chiste del mes"; 
	
	var chistesdelmes = "";

    var db = Database.Open("ChistesMalos");
    
    if(IsPost)
    {
        chistesdelmes = Request["chistesdelmes"];
        var sqlUpdate = "UPDATE Settings SET chistesDestacado = @0";
        db.Execute(sqlUpdate, chistesdelmes);

        Response.Redirect("~/Admin/");
    }

    var sqlCommand = "SELECT chistesdestacado FROM Settings";
    chistesdelmes = db.QuerySingle(sqlCommand).chistesdestacado.ToString();
}

<h1>Chiste del mes</h1>

<form action="~/Admin/Chistes/Destacado.cshtml" method="post">
    <p>
        @Html.Label("Chiste del mes: ", "chistesdelmes")
        @Chistes.ChistesDropDownList("chistesdelmes", chistesdelmes)
        <input type="submit" value="Guardar" />
    </p>
</form>