@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Contraseña olvidada.";

	var email = "";
	var message = "";
    
	if(IsPost)
	{
		email = Request["email"];

		Validation.RequireField("email", "Debes proporcionar tu direccion de email.");

		if(Validation.IsValid())
		{
			if(WebSecurity.UserExists(email))
			{
				var resetToken = WebSecurity.GeneratePasswordResetToken(email);
				var hostUrl = Request.Url.GetComponents( 
												UriComponents.SchemeAndServer, 
												UriFormat.Unescaped);

				var passwordResetUrl = hostUrl +
									"/Account/PasswordReset?resettoken=" +
									HttpUtility.UrlEncode(resetToken);

				WebMail.Send(to: email,
						subject: "MitjaMARKT - Reestablecimiento de contraseña para " + email,
						body: "Por favor, visita <a href='" + passwordResetUrl + "'>" +
								passwordResetUrl + 
								"</a> para reestablecer la contraseña de tu cuenta en el sitio web de MitjaMARKT.");

				message = "Ha sido enviado un email a tu direccion de correo con un enlace" +
							"para reestablecer la contraseña.";
			}
			else
			{
				message = "No ha sido posible encontrar una cuenta que se corresponda con el email.";
			}
		}
	}
}

<h1>Contraseña olvidada</h1>
@if(!message.IsEmpty())
{
	<p>@message</p>
}
else
{
	<form action="ForgottenPassword" method="post" class="accountForm">
		<p>Introduce la direccion de email de tu cuenta para enviarte un enlace a una pagina de reestablecimiento de la contraseña</p>
		<p>
			@Html.Label("Dirección de email:", "email")
			@Html.TextBox("email" ,email)
			@Html.ValidationMessage("email")
		</p>
		<p>
			<input type="submit" value="Reestablecer contraseña" />
		</p>
	</form>
}
