<p class="title">
	<a href="@Href("~/Admin/")">Administración</a>
</p>
<ul>
	<li><a href="@Href("~/Admin/Comentarios/")">Comentarios</a></li>
	<li><a href="@Href("~/Admin/Categorias/")">Categorias</a></li>
	<li><a href="@Href("~/Admin/Chistes/")">Chistes</a></li>
</ul>
