@{
	var db = Database.Open("TeleEncuestas");
	var sqlSelect = "SELECT * FROM Categorias";    
}

<ul>
@foreach (var categoria in db.Query(sqlSelect))
{
	<li><a href="~/Encuestas/@categoria.Nombre">@categoria.Nombre</a></li>
}
</ul>
